* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
}
/* --------------
header css 
---------------*/
/* slider */
.single__slide {
  background-color: #feeae9;
}
.slider__price {
  color: #ff1e76;
  font-weight: 700;
}
.slider__btn {
  background-image: linear-gradient(90deg, #ff1e76, #ff569a);
  border: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

/*---------------------
 Categories section 
 -----------------------*/
.single_category {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#category__watch {
  background-color: #ffa500;
}
#category__bag {
  background-color: #da70d6;
}
#category__shoes {
  background-color: #0000ff;
}
/*----------------
 shoes section 
 ------------------*/
.buy__btn {
  background-image: linear-gradient(90deg, #ff1e76, #ff569a);
  border: 0;
}
/*-------------------
Sale information 
---------------------*/
.sale__info {
  background-color: #feeae9;
  margin: 0 auto;
}
.input {
  border: 0;
}
